[user]
  name = YAKKUN Yasuyoshi IWAICHI
  email = yakkun@yakkun.dev
  signingkey = F08828855CF85118

[alias]
  ci = commit
  st = status --short --branch
  br = branch
  branches = branch -a
  tags = tag
  log = log --stat
  tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  delete-merged-branches = !git --no-pager branch --merged | grep -vE '^\\*| master$| trunk$| main$| release$| develop$' | xargs git branch -d
  remotes = remote -v
  stashes = stash list
  aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /
  sync = !"git fetch origin --recurse-submodules=no --quiet --prune && git merge --ff-only"
  diffc = diff --cached
  pushf = push --force-with-lease

[core]
  editor = vim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  commentchar = ";"
  pager = diff-highlight | less

[color]
  ui = auto

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[push]
  default = current

[fetch]
  prune = true
  pruneTags = true
  output = compact

[pull]
  ff = only

[rebase]
  autosquash = true

[commit]
  verbose = true
  gpgsign = true

[merge]
  conflictStyle = zdiff3

[secrets]
  providers = git secrets --aws-provider
  patterns = [A-Z0-9]{20}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[branch "master"]
  rebase = true

[branch "trunk"]
  rebase = true

[branch "main"]
  rebase = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[gpg]
  program = gpg

[init]
  defaultBranch = main

[includeIf "gitdir:~/ghq/github.com/yamareco/**"]
  path = ~/.gitconfig-yamareco
