[user]
  name = YAKKUN Yasuyoshi IWAICHI
  email = yakkun@yakkun.dev

[alias]
  co = checkout
  ci = commit
  st = status --short --branch
  br = branch
  branches = branch -a
  tags = tag
  log = log --stat
  tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  delete-merged-branches = !git branch --merged | grep -vE '^*| master$| release$| develop$' | xargs git branch -d
  follow-upstream = pull --rebase upstream
  merge-upstream = pull --no-ff upstream
  remotes = remote -v
  stashes = stash list
  aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /

[core]
  editor = vim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  commentchar = ";"
  pager = diff-highlight | less

[color]
  ui = auto

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[push]
  default = current

[pull]
  default = current
  ff = only

[rebase]
  autosquash = true

[commit]
  verbose = true

[secrets]
  providers = git secrets --aws-provider
  patterns = [A-Z0-9]{20}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[branch "master"]
  rebase = true
